
* {
  box-sizing: border-box;
}


body {
  font-family: Arial;
  padding: 20px;
  background: #FF6347;
}

/* Header/Blog Title  #982CA4; */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: #FF6347;
  color: aqua;
}


.leftcolumn {   
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}


.img {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}


.card {
   background-color: white;
   padding: 20px;
   margin-top: 20px;
}
.social-card{
   background-color: 	#FF6347;
   padding: 20px;
   margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}